<link rel="stylesheet" href="../../components/header/main.css">

<header>
    <div class="menu-icon hidden">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="logo-search flex">
        <a class=" header-logo" href="../../index.html">
            <img src="https://b.zmtcdn.com/web_assets/b40b97e677bc7b2ca77c58c61db266fe1603954218.png?fit=around|198:42&crop=198:42;*,*
            " alt="Logo">
        </a>
        <div class="input-container flex">
            <div class="input-location flex">
                <i class="fa-solid fa-location-dot" id="position"></i>
                <input type="text" placeholder="Ywca, Ashoka, Hanoi">
                <div class="arrow-down">
                    <i class="fa-solid fa-caret-down"></i>
                </div>
            </div>
            <div class="search-container flex">
                <i class="fa-solid fa-magnifying-glass" id="search"></i>
                <input type="text" placeholder=" Search for restaurant, cuisine or a dish">
            </div>
            <div class="detect-location flex">
                <i class=" fa-solid fa-location-crosshairs"></i>
                <div class="content">
                    <p>Detect current location</p>
                    <p>Using GPS</p>
                </div>
            </div>
        </div>

    </div>
    <nav class="nav_items">
        <ul class="flex">
            <li id="login-btn"><a href="#">Log in</a></li>
            <li id="signup-btn"><a href="#">Sign up</a></li>
        </ul>
    </nav>
</header>