:root {
    --primary-white: rgb(255, 255, 255); /* Very commonly used for text, and backgrounds*/
    --brand-primary: rgb(239, 79, 95);  /* Main brand color for active states and highlights */
    --light-background: rgb(248, 248, 248); /* Light grey background for some elements*/
    --border-default: rgb(207, 207, 207);  /* Default gray for borders and some text */
    --text-default: rgb(105, 105, 105); /* Default text color mostly navbars */
}
