<!-- main-template.html (Place in components/dining-night-life/) -->
<main>
    <div class="bg-wrapper">
        <div class="collections wrapper">
            <h1>Collections</h1>
            <div class="description-wrap">
                <p>Explore curated lists of top restaurants, cafes, pubs, and bars in Delhi NCR, based on trends
                </p>
                <a href="">All collections in Delhi NCR
                    <i class="fa-solid fa-caret-right"></i>
                </a>
            </div>
        </div>
        <div class="container wrapper">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <a href="" class="slider__card swiper-slide">
                        <div class="stacked">
                            <img src="https://b.zmtcdn.com/data/collections/684397cd092de6a98862220e8cc40aca_1709810207.png"
                                alt="top trending spots">
                            <div class="card__content">
                                <h3>Top Trending Spots</h3>
                                <p>35 Places <i class="fa-solid fa-caret-right"></i></p>
                            </div>
                        </div>
                    </a>
                    <a href="" class="slider__card swiper-slide">
                        <div class="stacked">
                            <img src="https://b.zmtcdn.com/data/collections/6670654607240dd08f428af59a58357c_1736428227.png"
                                alt="">
                            <div class="card__content">
                                <p>18 Places <i class="fa-solid fa-caret-right"></i></p>
                            </div>
                        </div>
                    </a>
                    <a href="" class="slider__card swiper-slide">
                        <div class="stacked">
                            <img src="https://b.zmtcdn.com/data/collections/5fdc9918a60d2b7a4be41c1dddee5f29_1705558576.png"
                                alt="cozy heated outdoor">
                            <div class="card__content">
                                <p>22 Places <i class="fa-solid fa-caret-right"></i></p>
                            </div>
                        </div>
                    </a>
                    <a href="" class="slider__card swiper-slide">
                        <div class="stacked">
                            <img src="https://b.zmtcdn.com/data/collections/ae2faf26522c5f9f6a859622dfc19ad4_1730709923.png?fit=around|562.5:360&crop=562.5:360;*,*"
                                alt="insta worthy">
                            <div class="card__content">
                                <h3>Best Insta-worthy Places</h3>
                                <p>50 Places <i class="fa-solid fa-caret-right"></i></p>
                            </div>
                        </div>
                    </a>
                    <a href="" class="slider__card swiper-slide">
                        <div class="stacked">
                            <img src="https://b.zmtcdn.com/data/collections/1abd83e8e4dfd12c6f5f10e2372a31b7_1709810493.png"
                                alt="">
                            <div class="card__content">
                                <h3>Best Rooftop Places</h3>
                                <p>59 Places <i class="fa-solid fa-caret-right"></i></p>
                            </div>
                        </div>
                    </a>
                    <a href="" class="slider__card swiper-slide">
                        <div class="stacked">
                            <img src="https://b.zmtcdn.com/data/collections/26663d5efa377704a8783795f32b6167_1727171292.png?fit=around|562.5:360&crop=562.5:360;*,*"
                                alt="Newly open place">
                            <div class="card__content">
                                <h3>Newly Opened Places</h3>
                                <p>22 Places <i class="fa-solid fa-caret-right"></i></p>
                            </div>
                        </div>
                    </a>
                    <a href="" class="slider__card swiper-slide">
                        <div class="stacked">
                            <img src="https://b.zmtcdn.com/data/collections/2e8b954961d07f927802853d5944d67b_1709812770.png"
                                alt="romantic place">
                            <div class="card__content">
                                <h3>Romantic Dining Places</h3>
                                <p>39 Places <i class="fa-solid fa-caret-right"></i></p>
                            </div>
                        </div>
                    </a>
                    <a href="" class="slider__card swiper-slide">
                        <div class="stacked">
                            <img src="https://b.zmtcdn.com/data/collections/0a4f52d9dc95cf3a5d3cf05f2299c1bf_1704348957.png"
                                alt="hot choco">
                            <div class="card__content">
                                <p>23 Places <i class="fa-solid fa-caret-right"></i></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-navigation swiper-button-next"><i class="fa-solid fa-chevron-right"></i></div>
            <div class="swiper-navigation swiper-button-prev"><i class="fa-solid fa-chevron-left"></i></div>
        </div>
    </div>

    <div class="filter wrapper">
        <div class="filter__category">Rating: 4.5+</div>
        <div class="filter__category">Rating: High to Low</div>
        <div class="filter__category">Cost: Low to High</div>
        <div class="filter__category">Cost: High to low</div>
        <div class="filter__category">Distance</div>
    </div>
    <div class="banner wrapper">
        <img alt="banner" src="https://b.zmtcdn.com/data/o2_assets/e067a1cf0d3fe27b366402b98b994e9f1716296909.png">
    </div>
    <div class="restaurants wrapper">
    </div>
    <div class="end-of-search">
        <p>End of search results</p>
        <div class="img-wrap">
            <img alt="End of search results"
                src="https://b.zmtcdn.com/web/assets/search/6d548ba48f0e4e4b46c19ad4b15a3f011615379209.jpeg">
        </div>
    </div>
    
</main>