
<div class="explore-options">
    <div class="heading">Explore options near me</div>
    <div class="accordions">
        <div class="accordion">
            <div class="accordion-container">
                <div class="accordion-title">Popular cuisines near me</div>
                <i class="fa fa-chevron-down fa-2x"></i>
            </div>
            <div class="accordion-data">
                <ul>
                    <li>Bakery near me</li>
                    <span class="small-circle"></span>
                    <li>Beverages near me</li>
                    <span class="small-circle"></span>
                    <li>Biryani near me</li>
                    <span class="small-circle"></span>
                    <li>Burger near me</li>
                    <span class="small-circle"></span>
                    <li>Chinese near me</li>
                    <span class="small-circle"></span>
                    <li>Continental near me</li>
                    <span class="small-circle"></span>
                    <li>Desserts near me</li>
                    <span class="small-circle"></span>
                    <li>Italian near me</li>
                    <span class="small-circle"></span>
                    <li>Kebab near me</li>
                    <span class="small-circle"></span>
                    <li>Mithai near me</li>
                    <span class="small-circle"></span>
                    <li>Momos near me</li>
                    <span class="small-circle"></span>
                    <li>Mughlai near me</li>
                    <span class="small-circle"></span>
                    <li>North Indian near me</li>
                    <span class="small-circle"></span>
                    <li>Pasta near me</li>
                    <span class="small-circle"></span>
                    <li>Pizza near me</li>
                    <span class="small-circle"></span>
                    <li>Rolls near me</li>
                    <span class="small-circle"></span>
                    <li>Sandwich near me</li>
                    <span class="small-circle"></span>
                    <li>Shake near me</li>
                    <span class="small-circle"></span>
                    <li>South Indian near me</li>
                    <span class="small-circle"></span>
                    <li>Street near me</li>
                </ul>
            </div>
        </div>

        <div class="accordion">
            <div class="accordion-container">
                <div class="accordion-title">
                    Popular restaurant types near me
                </div>
                <i class="fa fa-chevron-down fa-2x"></i>
            </div>
            <div class="accordion-data">
                <ul>
                    <li>Bakeries near me</li>
                    <span class="small-circle"></span>
                    <li>Bars near me</li>
                    <span class="small-circle"></span>
                    <li>Beverage Shops near me</li>
                    <span class="small-circle"></span>
                    <li>Bhojanalya near me</li>
                    <span class="small-circle"></span>
                    <li>Cafés near me</li>
                    <span class="small-circle"></span>
                    <li>Casual Dining near me</li>
                    <span class="small-circle"></span>
                    <li>Clubs near me</li>
                    <span class="small-circle"></span>
                    <li>Cocktail Bars near me</li>
                    <span class="small-circle"></span>
                    <li>Confectioneries near me</li>
                    <span class="small-circle"></span>
                    <li>Dessert Parlors near me</li>
                    <span class="small-circle"></span>
                    <li>Dhabas near me</li>
                    <span class="small-circle"></span>
                    <li>Fine Dining near me</li>
                    <span class="small-circle"></span>
                    <li>Food Courts near me</li>
                    <span class="small-circle"></span>
                    <li>Food Trucks near me</li>
                    <span class="small-circle"></span>
                    <li>Irani Cafes near me</li>
                    <span class="small-circle"></span>
                    <li>Kiosks near me</li>
                    <span class="small-circle"></span>
                    <li>Lounges near me</li>
                    <span class="small-circle"></span>
                    <li>Microbreweries near me</li>
                    <span class="small-circle"></span>
                    <li>Paan Shop near me</li>
                    <span class="small-circle"></span>
                    <li>Quick Bites near me</li>
                    <span class="small-circle"></span>
                    <li>Sweet Shops near me</li>
                </ul>
            </div>
        </div>

        <div class="accordion">
            <div class="accordion-container">
                <div class="accordion-title">Top restraunt chains</div>
                <i class="fa fa-chevron-down fa-2x"></i>
            </div>
            <div class="accordion-data order">
                <ul>
                    <li>Domino's</li>
                    <li>Bikanervala</li>
                    <li>Biryani Blues</li>
                    <li>Dunkin' Donuts</li>
                    <li>BTW</li>
                    <li>Haldiram's</li>
                    <li>Burger King</li>
                    <li>Burger Singh</li>
                    <li>KFC</li>
                    <li>Krispy Kreme</li>
                    <li>McDonald's</li>
                    <li>Moti Mahal Delux</li>
                    <li>Om Sweets & Snacks</li>
                    <li>Pizza Hut</li>
                    <li>Sagar Ratna</li>
                    <li>Subway</li>
                </ul>
            </div>
        </div>

        <div class="accordion">
            <div class="accordion-container">
                <div class="accordion-title">Cities we deliver to</div>
                <i class="fa fa-chevron-down fa-2x"></i>
            </div>
            <div class="accordion-data order">
                <ul>
                    <li>Delhi NCR</li>
                    <li>Kolkata</li>
                    <li>Mumbai</li>
                    <li>Bengaluru</li>
                    <li>Pune</li>
                    <li>Hyderabad</li>
                    <li>Chennai</li>
                    <li>Lucknow</li>
                    <li>Kochi</li>
                    <li>Jaipur</li>
                    <li>Ahmedabad</li>
                    <li>Chandigarh</li>
                    <li>Goa</li>
                    <li>Indore</li>
                    <li>Gangtok</li>
                    <li>Nashik</li>
                    <li>Ooty</li>
                    <li>Shimla</li>
                    <li>Ludhiana</li>
                    <li>Guwahati</li>
                    <li>Amritsar</li>
                    <li>Kanpur</li>
                    <li>Allahabad</li>
                    <li>Aurangabad</li>
                    <li>Bhopal</li>
                    <li>Ranchi</li>
                    <li>Visakhapatnam</li>
                    <li>Bhubaneswar</li>
                    <li>Coimbatore</li>
                    <li>Mangalore</li>
                    <li>Vadodara</li>
                    <li>Nagpur</li>
                    <li>Agra</li>
                    <li>Dehradun</li>
                    <li>Mysore</li>
                    <li>Puducherry</li>
                    <li>Surat</li>
                    <li>Varanasi</li>
                    <li>Patna</li>
                    <li>Srinagar</li>
                    <li>Khajuraho</li>
                    <li>Neemrana</li>
                    <li>Cuttack</li>
                    <li>Haridwar</li>
                    <li>Leh</li>
                    <li>Pushkar</li>
                    <li>Rajkot</li>
                    <li>Kozhikode</li>
                    <li>Alappuzha</li>
                    <li>Thrissur</li>
                    <li>Manipal</li>
                    <li>Jodhpur</li>
                    <li>Kota</li>
                    <li>Ajmer</li>
                    <li>Jalandhar</li>
                    <li>Jammu</li>
                    <li>Manali</li>
                    <li>Mussoorie</li>
                    <li>All delivery cities</li>
                    <li>Udaipur</li>
                    <li>Trivandrum</li>
                    <li>Madurai</li>
                    <li>Vijayawada</li>
                    <li>Rishikesh</li>

                </ul>
            </div>
        </div>
    </div>
</div>