
@media (min-width: 1400px) {
    h3 {
        font-size: 24px; 
        max-width: 50%; 
        white-space: normal;
        line-height: 1.4;
    }
    .carousel-track { gap: 5px; }
    .card { min-width: 280px; }
    .carousel-title { font-size: 24px; }
}

@media (max-width: 1024px) {
    header {
        padding: 8px 40px;
    }
    .hero-content h1 {
        font-size: 36px;
    }
    .hero-content p {
        font-size: 18px;
    }
    .cta-btn {
        padding: 15px 30px;
        font-size: 20px;
    }
    .details {
        flex-direction: column;
        align-items: center;
        padding: 40px;
        max-width: 90%;
    }
    .bot {
        flex-direction: column;
    }
    .bot-item {
        width: 100%;
    }
    video {
        width: 100%;
        max-width: 400px;
    }
    .left, .right {
        width: 100%;
    }
    .feature {
        width: 45%;
    }
    .footer-container {
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .footer-links {
        flex-wrap: wrap;
        justify-content: center; 
        gap: 30px;
    }

    .footer-column {
        flex: 1 1 45%; 
        text-align: center; 
    }

    .footer-contact {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .contact-buttons {
        align-items: center;
    }

    .social-links,
    .app-links {
        text-align: center;
    }

    .icons {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    header {
        padding: 6px 40px; 
    }

    .help-info {
        gap: 15px; 
    }

    .help-info span {
        font-size: 13px;
    }

    .help-btn {
        font-size: 13px; 
        padding: 6px 14px; 
        border-radius: 12px;
    }
    #logo img {
        width: 50px;
    }
    .hero-content h1 {
        font-size: 24px;
        text-align: center;
        margin-top: -40px;
    }
    .hero-content p {
        font-size: 16px;
        text-align: center;
    }
    .details {
        flex-direction: column-reverse; /* Đưa video lên trên */
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    .right {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    video {
        width: 100%;
        max-width: 350px;
        height: auto;
    }
    .left {
        width: 100%;
        text-align: center;
    }
    button.prev, button.next {
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
    .fre-title {
        font-size: 20px;
    }
    .fre-question {
        font-size: 16px;
    }
    .fre-item {
        max-width: 95%; 
        padding: 10px;
    }

    .fre-answer {
        font-size: 14px; 
        padding: 8px;
    }
    ul li b {
        min-width: 150px; 
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
        gap: 20px; 
    }

    .footer-column {
        width: 100%; 
    }

    .footer-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .social-links .icons {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .app-links {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .footer-bottom p {
        text-align: center;
        font-size: 12px;
    }

}
@media (max-width: 360px) {
    .carousel-container { width: 95%; }
    .card { min-width: 90%; max-width: 90%; margin: 0 auto; }
    button.prev, button.next { display: none; }
    .fre-item {
        max-width: 100%; 
        padding: 8px;
    }

    .fre-answer {
        font-size: 13px; 
        padding: 5px;
    }
    ul li {
        display: block;
        padding-left: 15px;
    }

    ul li b {
        display: block; 
        min-width: unset;
    }
}